#set-color {
  color: #ff9600;
  font-size: 25px;
}
span {
  color: #ff9600;
}
.position {
  position: relative;
}
.error-color {
  position: absolute;
  color: red;
  margin-top: 50px;
}
.error-color1 {
  position: absolute;
  color: red;
  margin-top: 40px;
}
.total {
  text-align: center;
  width: 50%;
}
#spinner {
  display: none;
}
#showMore {
  display: none;
  color: white;
}
