#set-color {
  color: #ff9600;
  font-size: 25px;
}
span {
  color: #ff9600;
}
.position {
  position: relative;
}
.error-color {
  position: absolute;
  color: red;
  margin-top: 50px;
}
.error-color1 {
  position: absolute;
  color: red;
  margin-top: 40px;
}
.total {
  text-align: center;
  width: 50%;
}
.mybtn {
  border: 0;
}
#spinner {
  display: none;
}
#showMore {
  display: none;
  color: white;
}
.small-item {
  width: 2.2rem;
}
.small-item1 {
  width: 2.2rem;
  filter: invert(71%) sepia(48%) saturate(4623%) hue-rotate(358deg)
    brightness(99%) contrast(110%);
}
.all-position {
  position: relative;
}
#love-circle {
  background-color: tomato;
  color: white;
  text-align: center;
  font-weight: bold;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  display: none;
}
#cart-circle {
  background-color: tomato;
  color: white;
  text-align: center;
  font-weight: bold;
  top: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  right: -5px;
}
.icon-position p {
}

/* ----------- */

#modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-bg {
  background-color: white;
  width: 22rem;
  height: 20rem;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.modal-bg li {
  list-style-type: none;
  display: flex;
}
.crossBtn {
  position: absolute;
  display: flex;
  justify-content: start;
  border: 0;
  right: 10px;
  cursor: pointer;
}
.my-ul b {
  margin-right: 5px;
}
.my-ul {
  overflow-y: scroll;
  height: 14rem;
}

/* add to cart */
.addtocart {
  background-color: aquamarine;
  width: 30rem;
  height: 400px;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
}
.close {
  text-align: end;
}
.delete-Item {
  height: 30px;
  width: 30px;
  filter: invert(18%) sepia(77%) saturate(7396%) hue-rotate(360deg)
    brightness(107%) contrast(121%);
}
.plus-minus button {
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.plus-minus {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-control {
  margin: 0 -20px 0 -20px;
}
